**Taller Profundización Ejercicios:**

1. Crear un bucle que cuente todos los números pares hasta
el 100 ciclo for

In [55]:
print("Numeros pares del 0 hasta el 100: \n") 
for i in range(0,101,2):
  print(i,end=",")

Numeros pares del 0 hasta el 100:

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

2. Haz una tabla de multiplicar utilizando el ciclo for
ciclo for

In [26]:
num = int(input("Digite el número de la tabla de multiplicar: \n"))

for i in range(21):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar:
9
0  x  9  =  0
1  x  9  =  9
2  x  9  =  18
3  x  9  =  27
4  x  9  =  36
5  x  9  =  45
6  x  9  =  54
7  x  9  =  63
8  x  9  =  72
9  x  9  =  81
10  x  9  =  90
11  x  9  =  99
12  x  9  =  108
13  x  9  =  117
14  x  9  =  126
15  x  9  =  135
16  x  9  =  144
17  x  9  =  153
18  x  9  =  162
19  x  9  =  171
20  x  9  =  180

In [22]:
for i in range(11):
  print(i, " x ", 5, " = ",  i * 5 )

0  x  5  =  0
1  x  5  =  5
2  x  5  =  10
3  x  5  =  15
4  x  5  =  20
5  x  5  =  25
6  x  5  =  30
7  x  5  =  35
8  x  5  =  40
9  x  5  =  45
10  x  5  =  50

3. Escribir un programa que pregunte al usuario su edad y
muestre por pantalla todos los años que ha cumplido
(desde 1 hasta su edad). ciclo for

In [34]:
edad = int(input("Digite su edad: \n"))
for i in range(edad): 
 print("Tiene",i +1, "años")

Digite su edad:
18
Tiene 1 años
Tiene 2 años
Tiene 3 años
Tiene 4 años
Tiene 5 años
Tiene 6 años
Tiene 7 años
Tiene 8 años
Tiene 9 años
Tiene 10 años
Tiene 11 años
Tiene 12 años
Tiene 13 años
Tiene 14 años
Tiene 15 años
Tiene 16 años
Tiene 17 años
Tiene 18 años

4. Escribir un programa que pida al usuario un número entero
positivo y muestre por pantalla todos los números
impares desde 1 hasta ese número separados por comas.

In [69]:
num = int(input("Digite un numero entero positivo: \n"))
for i in range(1,num,2):
  print(i,end=",")

Digite un numero entero positivo:
40
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,

5. Encuentra la suma de todos los números pares del 1 al
100 ciclo for

In [67]:
# variables acumuladoras
sum = 0
for i in range(0,101,2):
  sum = sum + i
print("\nEl total de la suma de los número pares del 1 al 100= {}".format(sum))

El total de la suma de los número pares del 1 al 100= 2550